@model SimpleBlog.ViewModels.WritePostViewModel

<form asp-controller="Blog" asp-action="WritePost" asp-route-post="@Model.Post" method="post">
    <label asp-for="@Model.Post.Title">Title</label>
    <input asp-for="@Model.Post.Title" type="text"/>
    <span class="error" asp-validation-for="@Model.Post.Title"></span>
    <br/>

    <textarea asp-for="@Model.Post.Content" cols="200" rows="20"></textarea>
    <select asp-for="@Model.Post.CategoryId" asp-items="@Model.Categories"></select>
    <span class="error" asp-validation-for="@Model.Post.Content"></span>
    <input type="submit" value="Publish"/>
</form>